html, body {
  height: 100%;
  min-height: 100%;
}

#app {
  margin: 0;
}

#app-container, #app {
  height: 100%;

}

.main-color, #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#main-content-area {
  padding-top: 50px;
  min-height: 100%;
}

.submit, button {
  border-color: #2c3e50 !important;
  border-radius: 50px;
}


.logo {
  background-image: url('../UberSante.png');
  padding: 40px;
  background-size: contain;
}

.error-message {
  color: red;
  font-size: 16px;
}

.success-message {
  color: green;
}

.login-button, .register-menu-button {
  background-color: #26619C;
  color: white;
  font-size: 30px;
  width: 250px;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.reg-container {
  margin-top: 20px;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

#view {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

#view td, #view th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view tr:nth-child(even) {
  background-color: #f2f2f2;
}

#view tr:hover {
  background-color: #ddd;
}

#view th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #333;
  color: white;
}

#view button {
  margin: 10px;
}

.help-text {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 12px;
}

form {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

form h1 {
  background: #333;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  color: white;
  text-align: center;
  margin: -16px -16px 16px -16px;
  border-radius: 5px;
}

form input,
form textarea,
form select, form a {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus,
form select:focus {
  box-shadow: 0 0 5px #26619C;
  padding: 3%;
  border: 1px solid #26619C;
}

form input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  border-bottom: 2px solid #26619C;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

form button:hover {
  background: #26619C;
}

.update-header {
    background-color: #333;
    
    
}

.modal-title {
    
    font-family: Arial;
    letter-spacing: 0px;
    
}

.modal-body {
    
    //background:rgb(0,0,0,0);
    padding: 0;
}

.modal-content {
    //background:rgb(0,0,0,0);
    border:none;
    
}

.modal-body form {
    width: 500px;
    background: rgb(155, 155, 155);
    max-width: 650px;
    
}

.modal-dialog {
    
    max-width: 720px;
    
}

#update-booking-modal #view{
    width: 650px;
}
