html, body {
  height: 100%;
  min-height: 100%;
}

#app {
  margin: 0;
  background-color: #2c3e50 !important;

}

#app-container, #app {
  height: 100%;

}

.main-color, #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  border-radius: 5px;

}

#main-content-area {
  padding-top: 50px;
  min-height: 100%;
}

.submit, button {
  color: white;
  border-radius: 50px;
  font-weight: 900;
  background-color: #333;
}


.logo {
  background-image: url('../UberSante.png');
  padding: 40px;
  background-size: contain;
}

.homepage {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  ), url('../homepage_image.jpg');
  background-size: cover;
  padding: 40px;
  width: 100%;
}

.error-message {
  color: red;
  text-shadow:
  -0.3px -0.3px 0 black,
  0.3px -0.3px 0 black,
  -0.3px 0.3px 0 black,
  0.3px 0.3px 0 black;  
  font-size: 16px;
  font-weight: 900;
}

.success-message {
  color: green;
}

.login-button, .register-menu-button {
  background-color: #333;
  color: white;
  font-size: 30px;
  width: 250px;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.reg-container {
  margin-top: 20px;
}

.home h1 {
  font-size: 80px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  margin: 5px;

}


#view {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

#view td, #view th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.85);
}

#view tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.85);
}

#view tr:hover {
  background-color: #ddd;
}

#view th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #333;
  color: white;
}

#view button {
  margin: 10px;
}

.help-text {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 16px;
    font-weight: 900;
}

form {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

form h1 {
  background: #333;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  color: white;
  text-align: center;
  margin: -16px -16px 16px -16px;
  border-radius: 5px;
}

form input,
form textarea,
form select, form a {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: black;
  font: 95% Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus,
form select:focus {
  box-shadow: 0 0 5px #26619C;
  padding: 3%;
  border: 1px solid #26619C;
}

form input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  border-bottom: 2px solid #26619C;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

form button:hover {
  background: #26619C;
}
