html, body {
  height: 100%;
  min-height: 100%;
}

#app {
  margin: 0;
}

#app-container, #app {
  height: 100%;

}

.main-color, #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#main-content-area {
  padding-top: 50px;
  min-height: 100%;
}

.submit, button {
  border-color: #17a2b8 !important;
  border-radius: 50px;
}


.logo {
  background-image: url('../UberSante.png');
  padding: 40px;
  background-size: contain;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.login-button, .register-menu-button {
  background-color: #26619C;
  color: white;
  font-size: 30px;
  width: 250px;
  margin-top: 25px;

}

a:hover {
  text-decoration: none;
  color: white;
}

.reg-container {
  margin-top: 20px;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

#view {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

#view td, #view th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view tr:nth-child(even) {
  background-color: #f2f2f2;
}

#view tr:hover {
  background-color: #ddd;
}

#view th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #333;
  color: white;
}

#view button {
  margin: 10px;
}
